@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  font-family: IBM Plex Mono;
  scroll-behavior: smooth;
}

body {
  background-color: #1E1E1E;
  color: #939393;
}

a {
  color: #939393;
  text-decoration: none;
}